---
import CompleteButton from '@/components/CompleteButton.tsx';
import ContentDetail from '@/components/ContentDetail.tsx';
import FavoriteButton from '@/components/FavoriteButton.tsx';
import InfoView from '@/components/InfoView.tsx';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { t } from '@TheY2T/tmr-i18n';
import PageShell from '@TheY2T/tmr-ui/astro/PageShell.astro';

const { slug = '' } = Astro.params;
const loggedIn = !!Astro.locals.user;
const showFavorite = Astro.locals.flags.favorites && loggedIn;
const showComplete = Astro.locals.flags.progress && loggedIn;
const showInfoView = Astro.locals.flags.infoView;
const interactiveScores = Astro.locals.flags.interactiveScores;
const locale = Astro.locals.locale;
---

<BaseLayout title={t(locale, 'home.title')}>
  <PageShell maxWidth="max-w-4xl">
    {
      (showComplete || showFavorite) && (
        <div class="mb-4 flex items-center justify-end gap-3">
          {showComplete && <CompleteButton client:load slug={slug} />}
          {showFavorite && <FavoriteButton client:load slug={slug} />}
        </div>
      )
    }
    <ContentDetail
      client:load
      slug={slug}
      locale={locale}
      interactiveScores={interactiveScores}
    />
  </PageShell>
  {showInfoView && <InfoView client:idle />}
</BaseLayout>
